extends ../../layouts/default.pug
block main 
      // main-content-start
      .main-content
        .row
          .col-md-12
            .table-wrapper
              .table-title
                .row
                  .col-sm-6.p-0.d-flex.justify-content-lg-start.justify-content-center
                    h2.ms-lg-2
                      | Manage
                      | Employees
                  .col-sm-6.p-0.d-flex.justify-content-lg-end.justify-content-center
                    a.btn.btn-success(href="#", data-bs-toggle="modal", data-bs-target="#addEmployeeModal")
                      i.material-icons &#xE147;
                      span
                        | Add
                        | New
                        | Employee
                    a.btn.btn-danger(href="#", data-bs-toggle="modal", data-bs-target="#deleteAllEmployeeModal")
                      i.material-icons &#xE15C;
                      span
                        | Delete
              table.table.table-striped.table-hover
                thead
                  tr
                    th
                      span.custom-checkbox
                        input#selectAll(type="checkbox")
                        label(for="selectAll")
                    th Name
                    th Email
                    th Address
                    th Phone
                    th Actions
                tbody
                  tr
                    td
                      span.custom-checkbox
                        input#checkbox1(type="checkbox", name="option[]", value="1")
                        label(for="checkbox1")
                    td Tran Thai Son
                    td tts@gmail.com
                    td 46/7 Le Van Viet
                    td 0705946967
                    td
                      a.edit(href="#", data-bs-toggle="modal", data-bs-target="#editEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Edit") &#xE254;
                      a.delete(href="#", data-bs-toggle="modal", data-bs-target="#deleteEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Delete") &#xE872;
                  tr
                    td
                      span.custom-checkbox
                        input#checkbox2(type="checkbox", name="option[]", value="2")
                        label(for="checkbox2")
                    td JJJSSS
                    td kasizphantom@gmail.com
                    td 46/7 Le Van Viet
                    td 0705946967
                    td
                      a.edit(href="#", data-bs-toggle="modal", data-bs-target="#editEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Edit") &#xE254;
                      a.delete(href="#", data-bs-toggle="modal", data-bs-target="#deleteEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Delete") &#xE872;
                  tr
                    td
                      span.custom-checkbox
                        input#checkbox3(type="checkbox", name="option[]", value="3")
                        label(for="checkbox3")
                    td Tran Thai Son
                    td tts@gmail.com
                    td 46/7 Le Van Viet
                    td 0705946967
                    td
                      a.edit(href="#", data-bs-toggle="modal", data-bs-target="#editEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Edit") &#xE254;
                      a.delete(href="#", data-bs-toggle="modal", data-bs-target="#deleteEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Delete") &#xE872;
                  tr
                    td
                      span.custom-checkbox
                        input#checkbox4(type="checkbox", name="option[]", value="4")
                        label(for="checkbox4")
                    td Tran Thai Son
                    td tts@gmail.com
                    td 46/7 Le Van Viet
                    td 0705946967
                    td
                      a.edit(href="#", data-bs-toggle="modal", data-bs-target="#editEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Edit") &#xE254;
                      a.delete(href="#", data-bs-toggle="modal", data-bs-target="#deleteEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Delete") &#xE872;
                  tr
                    td
                      span.custom-checkbox
                        input#checkbox5(type="checkbox", name="option[]", value="5")
                        label(for="checkbox5")
                    td Tran Thai Son
                    td tts@gmail.com
                    td 46/7 Le Van Viet
                    td 0705946967
                    td
                      a.edit(href="#", data-bs-toggle="modal", data-bs-target="#editEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Edit") &#xE254;
                      a.delete(href="#", data-bs-toggle="modal", data-bs-target="#deleteEmployeeModal")
                        i.material-icons(data-bs-toggle="tooltip", title="Delete") &#xE872;
              .clearfix
                .hint-text
                  | Showing 
                  b 5 
                  | out of 
                  b 25
                ul.pagination
                  li.page-item.disabled
                    a.page-link(href="#") Previous
                  li.page-item.active
                    a.page-link(href="#") 1
                  li.page-item
                    a.page-link(href="#") 2
                  li.page-item
                    a.page-link(href="#") 3
                  li.page-item
                    a.page-link(href="#") 4
                  li.page-item
                    a.page-link(href="#") 5
                  li.page-item
                    a.page-link(href="#") Next
              // add-modal
              #addEmployeeModal.modal.fade(tabindex="-1", aria-labelledby="addEmployeeModalLabel", aria-hidden="true")
                .modal-dialog.modal-lg
                  .modal-content.w-100
                    .modal-header.bg-primary.text-white
                      h5#addEmployeeModalLabel.modal-title
                        | Add
                        | Employee
                      button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                      form
                        .row
                          // Name input
                          .col-md-6.mb-3
                            label.form-label(for="name1") Name
                            input#name1.form-control(type="text", required)
                          // Email input
                          .col-md-6.mb-3
                            label.form-label(for="email1")
                              | Email
                              | address
                            input#email1.form-control(type="email", required)
                          // Phone input
                          .col-md-6.mb-3
                            label.form-label(for="phone1")
                              | Phone
                              | Number
                            input#phone1.form-control(type="number", required)
                          // Address input
                          .col-md-6.mb-3
                            label.form-label(for="address1") Address
                            textarea#address1.form-control(rows="2", required)
                        // Buttons
                        .d-flex.justify-content-end
                          button.btn.btn-secondary.me-2(type="button", data-bs-dismiss="modal") Cancel
                          button.btn.btn-primary(type="submit") Add
              // end add modal
              // edit modal
              #editEmployeeModal.modal.fade(tabindex="-1", aria-labelledby="editEmployeeModalLabel", aria-hidden="true")
                .modal-dialog.modal-lg
                  .modal-content.w-100
                    .modal-header.bg-primary.text-white
                      h5#editEmployeeModalLabel.modal-title
                        | Add
                        | Employee
                      button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                      form
                        .row
                          // Name input
                          .col-md-6.mb-3
                            label.form-label(for="name1") Name
                            input#name1.form-control(type="text", required)
                          // Email input
                          .col-md-6.mb-3
                            label.form-label(for="email1")
                              | Email
                              | address
                            input#email1.form-control(type="email", required)
                          // Phone input
                          .col-md-6.mb-3
                            label.form-label(for="phone1")
                              | Phone
                              | Number
                            input#phone1.form-control(type="number", required)
                          // Address input
                          .col-md-6.mb-3
                            label.form-label(for="address1") Address
                            textarea#address1.form-control(rows="2", required)
                        // Buttons
                        .d-flex.justify-content-end
                          button.btn.btn-secondary.me-2(type="button", data-bs-dismiss="modal") Cancel
                          button.btn.btn-primary(type="submit") Save
              // end edit modal
              // delete all modal
              #deleteAllEmployeeModal.modal.fade(tabindex="-1")
                .modal-dialog
                  .modal-content
                    .modal-header
                      h5.modal-title
                        | Delete
                        | All Records
                      button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                      p Mày chắc chưa ?
                      .text-warning
                        small
                          | Xóa là không Ctrl+Z
                          | được đâu ku
                    .modal-footer
                      button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
                      button.btn.btn-danger(type="button")
                        | Delete
              // end delete allall modal
              // delete modal
              #deleteEmployeeModal.modal.fade(tabindex="-1")
                .modal-dialog
                  .modal-content
                    .modal-header
                      h5.modal-title
                        | Delete
                        | Record
                      button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                    .modal-body
                      p Mày chắc chưa ?
                      .text-warning
                        small
                          | Xóa là không Ctrl+Z
                          | được đâu ku
                    .modal-footer
                      button.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
                      button.btn.btn-danger(type="button")
                        | Delete
              // end delete modal
      // main-content-end