footer.bg-body-tertiary.text-center
    .container.p-4.pb-0
        section.mb-4
            a.btn.text-white.btn-floating.m-1(data-mdb-ripple-init, style="background-color: #3b5998;", href="#!", role="button")
                i.fab.fa-facebook-f
            a.btn.text-white.btn-floating.m-1(data-mdb-ripple-init, style="background-color: #55acee;", href="#!", role="button")
                i.fab.fa-twitter
            a.btn.text-white.btn-floating.m-1(data-mdb-ripple-init, style="background-color: #dd4b39;", href="#!", role="button")
                i.fab.fa-google
            a.btn.text-white.btn-floating.m-1(data-mdb-ripple-init, style="background-color: #ac2bac;", href="#!", role="button")
                i.fab.fa-instagram
            a.btn.text-white.btn-floating.m-1(data-mdb-ripple-init, style="background-color: #0082ca;", href="#!", role="button")
                i.fab.fa-linkedin-in
            a.btn.text-white.btn-floating.m-1(data-mdb-ripple-init, style="background-color: #333333;", href="#!", role="button")
                i.fab.fa-github
    .text-center.p-3(style="background-color: rgba(0, 0, 0, 0.05);")
        | © 2020 Copyright:
        a.text-body(href="https://www.facebook.com/tranthaisonn/") TTS